body {
  background-color: linen;
}
hr {
  background-color: linen;
  border-style: dotted none none;
  border-color: black;
  border-width: 5px;
  width: 50%;
}
a:link
{
  color: cornflowerblue;
}
a:visited
{
  color: darkmagenta;
}
a:hover
{
  color: darkturquoise;
}
h1 {
  color: darkslategray;
  font-family: monospace;
}
h1:hover {
  color: black;
}
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(74, 60, 60);
}

